@import 'mixins';
@import 'variable';
.pages-top-section {
   padding: 60px 60px 140px 60px;
   @include dispflex-spcbw;
   flex-direction: flex-end;
   @include tablets {
       display: block;
     }
   @include mobiles {
      padding: 18px 18px 90px 18px ;
      display: block;
   }
}
.page-top-left {
    width: 51%;
    @include tablets {
        width: 91%;
        margin-bottom: 63px;
    }
    @include mobiles {
        margin-bottom: 63px;
        width: 98%;
    }
}
.h1-internal {
    @include font-greyclif-heavy(54px ,$navy , 800);
    line-height: 59px;
    @include mobiles {
        font-size: 44px;
        line-height: 105%;
    }
}
.img-circle-btm {
     position: relative;
     z-index: 5;
    .img-box {
        width: 500px;
        height: 370px;
        border-radius: 15px;
        box-shadow: 0px 1px 30px 0px #52637433;
        overflow: hidden;
        @include Desktops {
            width: 446px;
            height: 337px;
        }
        @include tablets{
            width: 570px;
            height: 440px;
        }
        @include mobiles {
            width: 297px;
            height: 187px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &::before {
        @include pos-abs;
        content: '';
        z-index: -1;
        width: 200px;
        height: 200px;
        background-image: url('assets/images/dotted-circle.svg');
        background-repeat: no-repeat;
        bottom: -107px;
        left: -62px;
        @include tablets {display: none;}
        @include mobiles {display: none;}
    }
    &::after {
        @include pos-abs;
        content: '';
        z-index: -1;
        width: 200px;
        height: 200px;
        background-image: url('assets/images/dotted-circle.svg');
        background-repeat: no-repeat;
        bottom: -107px;
        left: 484px;
        @include mobiles {
            left: 201px;
        }
        @include Desktops {
            display: none;
        }
        @include small-mobiles {
            width: 138px;
            height: 154px;
            bottom: -31px;
            left: 194px;
        }
    }
}
.simple-box-image {
    margin: 0 auto;
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.only-headings {
    padding: 30px 0px;
    @include tablets {
        width: 98%;
        text-align: center;
        margin: 0 auto;
    }
    @include mobiles {
        text-align: center;
        width: 96%;
        margin: 0 auto;}
    br{
        @include tablets {display: none;}
        @include mobiles {display: none;}
    }
}
.case-study-details {
    padding: 35px 180px 60px 180px;
    @include tablets {
        padding: 35px 72px 60px 180px;
    }
    @include mobiles {
        padding: 20px 40px 72px 40px;
    }
}

.case-study-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    .case-study-left {
        width: 40%;
        .h3-heading {
            color: $navy;
            font-weight: bolder;
        }
        @include mobiles {
            width: 100%;
        }
    } 
    .case-study-right {
        width: 60%;
        ul {
            display: block;
            li {
                margin: 1% 0%;
            }
            &.with-dots {
                li {
                    margin: 1% 0% 1% 5%;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 6px;
                        background-color: $light-navy;
                        top: 9px;
                        left: -27px;
                        border-radius: 50px;
                    }
                }
            }
        }
        @include mobiles {
            width: 100%;
        }
    }
    @include mobiles {
        display: block;
    }
}