/*css for header sections only */
@import 'mixins';

.header {
	margin: 40px 0px;
	padding: 0px 40px;
	@include dispflex-spcbw;

	// css when page scrolls on desktop
	&.scrolls {
		margin-top: 0px;
		padding: 30px 40px;
		background-color: $light-blue;
		box-shadow: 0px 1px 10px rgba(82, 99, 116, 0.15);
		border-radius: 0px 0px 9px 9px;
		z-index: 9999;
		position: sticky;
		top: 0;

		@include Desktops {
			margin: 0 auto;
			width: 90%;
		}

		@include mobiles {
			padding: 30px 20px;
			margin: unset;
		}
	}

	@include tablets {
		margin: unset;
		padding: 30px 20px;
	}

	@include mobiles {
		padding: 30px 20px;
		margin: unset;
	}
}

.brand-logo {
	font-weight: bold;

	img {
		width: 159px;

		@include mobiles {
			width: 153px;
		}
	}
}

.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@keyframes line-anim {
	from {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(1);
	}
}

.navigation {
	ul {
		list-style: none;
		display: flex;

		li {
			padding-left: 25px;

			a {
				text-decoration: none;
				@include font-greyclif-heavy(20px, $navy, 900);

				&.cta-primary {
					margin-top: 16%;

					@include Desktops {
						display: none;
					}
				}

				&:hover {
					position: relative;
					display: inline-block;

					&::before {
						animation: line-anim 0.3s forwards;
						@include curved-underline($orange);
					}

				}
			}
		}
	}

	&.open {
		z-index: 99999;
		background: #fff;

		ul {
			display: block;
			text-align: center;
			position: relative;
			top: 50%;
			transform: translateY(-66%);
			padding: 0px;

			li {
				margin: 40px 0px;
				padding-left: 0px;

				a {
					@include font-greyclif-heavy(28px, $navy, 900);

					&.cta-primary {
						@include font-greyclif-extrabold(16px, $white, normal);
					}
					&:hover {
						&::before {
						     height: 22px;
							 border-radius: 64% ;
							 bottom: -33px;
						}
					}
				}
			}
		}
	}

	@include mobiles {
		z-index: -1;
		height: 100%;
		background: white;
		padding-top: 25%;
	}
}

.search-block {
	display: flex;
	align-items: center;
	margin-left: 20px;

	img,
	a {
		cursor: pointer;
	}
}

// css for global active classes
.underline-orange {
	position: relative;
	display: inline-block !important;

	&::before {
		@include curved-underline($orange);
	}
}

.open {
	position: fixed;
	background: #fff;
	width: 100%;
	height: calc(100vh - 89px);
	bottom: 0;
	right: 0;
	.underline-orange {
		&::before {
			height: 22px;
			border-radius: 64%;
			bottom: -33px;
		}
	}
}

.list-open {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.64s ease;
	-webkit-transition-delay: 0.34s;
	-moz-transition-delay: 0.34s;
	-o-transition-delay: 0.34s;
	transition-delay: 0.34s;
}

.burger {
	position: relative;
	cursor: pointer;
	width: 30px;
	transition: all .3s;
	margin-left: 20px;

	span {
		display: block;
		height: 3px;
		background: #0974e4;
		-webkit-transition: background 0.3s .3s;
		transition: background 0.3s .3s;
		-o-transition: background 0s 0s;
		-webkit-transition-delay: 0.4s, 0s;
		transition-delay: 0.4s, 0s;

		&::after {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #0974e4;
			content: "";
			border-radius: 5px;
			-webkit-transition-duration: .3s, .3s;
			transition-duration: .3s, .3s;
			-webkit-transition-delay: 0.4s, 0s;
			transition-delay: 0.4s, 0s;
			bottom: -8px;
			-webkit-transition-property: bottom, -webkit-transform;
			transition-property: bottom, transform;
		}

		&::before {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #0974e4;
			content: "";
			border-radius: 5px;
			-webkit-transition-duration: .3s, .3s;
			transition-duration: .3s, .3s;
			-webkit-transition-delay: 0.4s, 0s;
			transition-delay: 0.4s, 0s;
			top: -8px;
			-webkit-transition-property: top, -webkit-transform;
			transition-property: top, transform;
		}
	}

	@include Desktops {
		display: none;
	}
}

.nav-mobile-active {
	.burger {
		span {
			background: 0 0 transparent;
			transform: rotate(90deg);
			-webkit-transition: all 0.3s ease-in;
			transition: all 0.3s ease-in;
			-o-transition: all 0s ease;
			-webkit-transition-delay: 0s, 0s;
			transition-delay: 0s, 0s;

			&::after {
				-webkit-transition-delay: 0s, .4s;
				transition-delay: 0s, .4s;
				bottom: 1px;
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			&::before {
				-webkit-transition-delay: 0s, .4s;
				transition-delay: 0s, .4s;
				top: 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
		}
	}
}

@media only screen and (max-width: 990px) {
	.navigation {
		display: none;

		&.open {
			display: block;
		}
	}
}

.header-section {
	position: sticky;
	top: 0;
	z-index: 9999;
}