.wrapper{
    max-width: 1366px;
    margin: 0 auto;
}
body{
    padding: 0px;
    margin: 0px;
}
.center{text-align: center;}
.white{color: $white !important;}
.margin-auto {margin: 0 auto !important;}
h1 , h2 , h3, h4 , h5 , h6 {margin: 20px 0px;}