
@mixin font-greyclif-heavy($font-size , $font-color, $font-weight) {
    font-family: 'Greycliff CF - Heavy';
    font-size: $font-size;
    line-height: $font-size;
    font-weight: $font-weight;
    color: $font-color;
}
@mixin font-greyclif-bold($font-size , $font-color, $font-weight) {
    font-family: 'Greycliff CF - bold';
    font-size: $font-size;
    line-height: $font-size;
    font-weight: $font-weight;
    color: $font-color;
}
@mixin font-greyclif-extrabold ($font-size , $font-color , $font-weight) {
    font-family: 'Greycliff CF - Extra Bold';
    font-size: $font-size;
    line-height: $font-size;
    font-weight: $font-weight;
    color: $font-color;
}
@mixin font-Greycliff-CF ($font-size ,$line-height, $font-color , $font-weight) {
  font-family: 'Greycliff CF';
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $font-color;
}
@mixin curved-underline($color)  {
    position: absolute;
    content: '';
    height: 7px;
    width: 100% !important;
    border: solid 4px $color;
    border-color: $color transparent transparent transparent;
    border-radius: 64%;
    bottom: -18px;
    left: -4%;
}
@mixin pos-abs {
    position: absolute;
    content: '';
}

@mixin dispflex-spcbw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// mixins for breakpoints
// for mobiles
@mixin small-mobiles {
    @media (max-width:560px) {
        @content;
    }
}
@mixin mobiles {
    @media (max-width:767px) {
        @content;
    }
}

// for tablets
@mixin tablets {
    @media (min-width:768px) and (max-width:990px) {
        @content;
    }
}

@mixin Desktops {
    @media (min-width:991px){
        @content;
    }
}

@mixin Large-Desktops {
  @media (min-width:1140px) {
    @content;
  }
}