/* variables for colors */
$navy:#00386C;
$light-navy:#0974E4;
$light-blue: #EFF8FC;
$orange:#FBBB5B;
$white: #fff;
$checkbox-border-color: #4A4A4A;
$checkbox-bg-color: #fff;
$checkbox-checked-color: #007FFF;