@font-face {
  font-family: 'Greycliff CF - Heavy';
  src: url("assets/font/Fontspring-DEMO-greycliffcf-heavy/Fontspring-DEMO-greycliffcf-heavy.ttf") format("truetype"), url("assets/font/Fontspring-DEMO-greycliffcf-heavy/Fontspring-DEMO-greycliffcf-heavy.woff") format("woff"), url("assets/font/Fontspring-DEMO-greycliffcf-heavy/Fontspring-DEMO-greycliffcf-heavy.woff2") format("woff2"); }
@font-face {
  font-family: "Greycliff CF - bold";
  src: url("assets/font/Fontspring-DEMO-greycliffcf-bold/Fontspring-DEMO-greycliffcf-bold.ttf") format("truetype"), url("assets/font/Fontspring-DEMO-greycliffcf-bold/Fontspring-DEMO-greycliffcf-bold.woff") format("woff"), url("assets/font/Fontspring-DEMO-greycliffcf-bold/Fontspring-DEMO-greycliffcf-bold.woff2") format("woff2"); }
@font-face {
  font-family: "Greycliff CF - Extra Bold";
  src: url("assets/font/Fontspring-DEMO-greycliffcf-extrabold/Fontspring-DEMO-greycliffcf-extrabold.ttf") format("truetype"), url("assets/font/Fontspring-DEMO-greycliffcf-extrabold/Fontspring-DEMO-greycliffcf-extrabold.woff") format("woff"), url("assets/font/Fontspring-DEMO-greycliffcf-extrabold/Fontspring-DEMO-greycliffcf-extrabold.woff2") format("woff2"); }
@font-face {
  font-family: "Greycliff CF";
  src: url("assets/font/Fontspring-DEMO-greycliffcf-regular/Fontspring-DEMO-greycliffcf-regular.ttf") format("truetype"), url("assets/font/Fontspring-DEMO-greycliffcf-regular/Fontspring-DEMO-greycliffcf-regular.woff") format("woff"), url("assets/font/Fontspring-DEMO-greycliffcf-regular/Fontspring-DEMO-greycliffcf-regular.woff2") format("woff2"); }
@font-face {
  font-family: "Verveine";
  src: url("assets/font/verveine/VerveineRegular.TTF") format("truetype"), url("assets/font/verveine/VerveineRegular.woff") format("woff"), url("assets/font/verveine/VerveineRegular.woff2") format("woff2"); }
/* variables for colors */
.wrapper {
  max-width: 1366px;
  margin: 0 auto; }

body {
  padding: 0px;
  margin: 0px; }

.center {
  text-align: center; }

.white {
  color: #fff !important; }

.margin-auto {
  margin: 0 auto !important; }

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0px; }

/*css for header sections only */
.header-content {
  padding: 30px 40px; }
  @media (min-width: 768px) and (max-width: 990px) {
    .header-content {
      padding: 30px 20px; } }
  @media (max-width: 767px) {
    .header-content {
      padding: 30px 20px; } }
  .header-content .header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-content.scrolls {
    background-color: #EFF8FC;
    box-shadow: 0px 1px 10px rgba(82, 99, 116, 0.15);
    border-radius: 0px 0px 9px 9px;
    z-index: 9999;
    position: sticky;
    top: 0;
    padding: 30px 0; }
    .header-content.scrolls .header {
      width: 90%; }

.brand-logo {
  font-weight: bold;
  display: inline-flex; }
  .brand-logo img {
    width: 159px; }
    @media (max-width: 767px) {
      .brand-logo img {
        width: 153px; } }

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@keyframes line-anim {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }
.navigation ul {
  list-style: none;
  display: flex; }
  .navigation ul li {
    padding-left: 25px; }
    .navigation ul li a {
      text-decoration: none;
      font-family: 'Greycliff CF - Heavy';
      font-size: 20px;
      line-height: 20px;
      font-weight: 900;
      color: #00386C; }
      .navigation ul li a.cta-primary {
        margin-top: 16%; }
        @media (min-width: 991px) {
          .navigation ul li a.cta-primary {
            display: none; } }
      .navigation ul li a:hover {
        position: relative;
        display: inline-block; }
        .navigation ul li a:hover::before {
          animation: line-anim 0.3s forwards;
          position: absolute;
          content: '';
          width: 100% !important;
          border: solid 2px #FBBB5B;
          bottom: -9px;
          left: -4%; }
.navigation.open {
  z-index: 99999;
  background: #fff; }
  @media (min-width: 768px) and (max-width: 990px) {
    .navigation.open {
      height: 100%;
      background-color: #EFF8FC;
      z-index: -1; } }
  @media (max-width: 767px) {
    .navigation.open {
      height: 100%;
      background-color: #EFF8FC;
      z-index: -1; } }
  .navigation.open ul {
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-66%);
    padding: 0px; }
    .navigation.open ul li {
      margin: 40px 0px;
      padding-left: 0px; }
      .navigation.open ul li a {
        font-family: 'Greycliff CF - Heavy';
        font-size: 28px;
        line-height: 28px;
        font-weight: 900;
        color: #00386C; }
        .navigation.open ul li a.cta-primary {
          font-family: 'Greycliff CF - Extra Bold';
          font-size: 16px;
          line-height: 16px;
          font-weight: normal;
          color: #fff; }
        .navigation.open ul li a:hover::before {
          height: 22px;
          border-radius: 64%;
          bottom: -33px; }
@media (max-width: 767px) {
  .navigation {
    z-index: -1;
    height: 100%;
    background: white;
    padding-top: 25%; } }

.search-block {
  display: flex;
  align-items: center;
  margin-left: 20px; }
  .search-block img,
  .search-block a {
    cursor: pointer; }

.underline-orange {
  position: relative;
  display: inline-block !important; }
  .underline-orange::before {
    position: absolute;
    content: '';
    width: 100% !important;
    border: solid 2px #FBBB5B;
    bottom: -9px;
    left: -4%; }

.open {
  position: fixed;
  background: #fff;
  width: 100%;
  height: calc(100vh - 89px);
  bottom: 0;
  right: 0; }
  .open .underline-orange::before {
    height: 22px;
    border-radius: 64%;
    bottom: -33px; }

.list-open {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.64s ease;
  -webkit-transition-delay: 0.34s;
  -moz-transition-delay: 0.34s;
  -o-transition-delay: 0.34s;
  transition-delay: 0.34s; }

.burger {
  position: relative;
  cursor: pointer;
  width: 30px;
  transition: all .3s;
  margin-left: 20px; }
  .burger span {
    display: block;
    height: 3px;
    background: #0974e4;
    -webkit-transition: background 0.3s .3s;
    transition: background 0.3s .3s;
    -o-transition: background 0s 0s;
    -webkit-transition-delay: 0.4s, 0s;
    transition-delay: 0.4s, 0s; }
    .burger span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #0974e4;
      content: "";
      border-radius: 5px;
      -webkit-transition-duration: .3s, .3s;
      transition-duration: .3s, .3s;
      -webkit-transition-delay: 0.4s, 0s;
      transition-delay: 0.4s, 0s;
      bottom: -8px;
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform; }
    .burger span::before {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #0974e4;
      content: "";
      border-radius: 5px;
      -webkit-transition-duration: .3s, .3s;
      transition-duration: .3s, .3s;
      -webkit-transition-delay: 0.4s, 0s;
      transition-delay: 0.4s, 0s;
      top: -8px;
      -webkit-transition-property: top, -webkit-transform;
      transition-property: top, transform; }
  @media (min-width: 991px) {
    .burger {
      display: none; } }

.nav-mobile-active .burger span {
  background: 0 0 transparent;
  transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -o-transition: all 0s ease;
  -webkit-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s; }
  .nav-mobile-active .burger span::after {
    -webkit-transition-delay: 0s, .4s;
    transition-delay: 0s, .4s;
    bottom: 1px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .nav-mobile-active .burger span::before {
    -webkit-transition-delay: 0s, .4s;
    transition-delay: 0s, .4s;
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

@media only screen and (max-width: 990px) {
  .navigation {
    display: none; }
    .navigation.open {
      display: block; } }
.header-section {
  position: sticky;
  top: 0;
  z-index: 9999; }

footer {
  background: url("/wp-content/themes/itzontarget/assets/images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover; }
  footer .footer {
    margin: 0 auto;
    width: 90%; }
    @media (min-width: 991px) {
      footer .footer {
        padding: 30px 0; } }
    @media (min-width: 768px) and (max-width: 990px) {
      footer .footer {
        padding: 30px 40px; } }
    @media (max-width: 767px) {
      footer .footer {
        padding: 70px 20px 10px 20px; } }
  footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border-bottom: 2px solid #60aef580;
    padding-top: 50px; }
    @media (min-width: 768px) and (max-width: 990px) {
      footer .footer-top {
        display: block; } }
    @media (max-width: 767px) {
      footer .footer-top {
        display: block; } }
    @media (max-width: 560px) {
      footer .footer-top {
        padding: 0px 16px; } }
  footer .footer-text {
    font-family: 'Greycliff CF - bold';
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    color: #fff;
    line-height: 50.6px;
    letter-spacing: -0.02em;
    width: 65%; }
    @media (min-width: 768px) and (max-width: 990px) {
      footer .footer-text {
        margin: 0 auto;
        line-height: 115%;
        text-align: center;
        width: unset; } }
    @media (max-width: 767px) {
      footer .footer-text {
        font-family: 'Greycliff CF - bold';
        font-size: 27px;
        line-height: 27px;
        font-weight: 700;
        color: #fff;
        line-height: 110%;
        text-align: center;
        width: 214px;
        margin: 0 auto; } }
    @media (max-width: 560px) {
      footer .footer-text {
        width: 97%;
        margin: 0 auto;
        text-align: center; } }
  footer .footer-menu {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 768px) and (max-width: 990px) {
      footer .footer-menu {
        display: block;
        text-align: center; } }
    @media (max-width: 767px) {
      footer .footer-menu {
        display: block;
        text-align: center; } }
    @media (min-width: 768px) and (max-width: 990px) {
      footer .footer-menu .brand-logo {
        margin-top: 20px; } }
  footer .footer-nav {
    display: block; }
    @media (min-width: 768px) and (max-width: 990px) {
      footer .footer-nav ul {
        padding: 20px 0px;
        justify-content: center; } }
    footer .footer-nav ul li a {
      color: #fff; }
    @media (min-width: 768px) and (max-width: 990px) {
      footer .footer-nav ul li {
        padding: 0px 10px; } }
    @media (max-width: 767px) {
      footer .footer-nav {
        display: none; } }

.cta-primary {
  text-decoration: none;
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 22px 36px;
  gap: 10px;
  background: linear-gradient(92.84deg, rgba(0, 56, 108, 0.3) 14.69%, rgba(9, 116, 228, 0.3) 50.57%, rgba(176, 211, 248, 0.3) 81.51%), #0974E4;
  box-shadow: 0px 1px 30px rgba(82, 99, 116, 0.2);
  border-radius: 60px;
  border: 0px;
  font-family: 'Greycliff CF - Extra Bold';
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
  letter-spacing: 0.06em;
  text-transform: uppercase; }
  .cta-primary:hover {
    cursor: pointer; }
  @media (min-width: 768px) and (max-width: 990px) {
    .cta-primary {
      margin: 35px auto 20px auto; } }
  @media (max-width: 767px) {
    .cta-primary {
      margin: 35px auto 0px auto;
      font-family: 'Greycliff CF - Extra Bold';
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      color: #fff;
      padding: 22px; } }
  @media (max-width: 560px) {
    .cta-primary {
      margin-bottom: 35px; } }
  .cta-primary.secondary {
    background: #fff;
    color: #0974E4;
    box-shadow: 0px 1px 30px rgba(82, 99, 116, 0.2); }
    @media (min-width: 768px) and (max-width: 990px) {
      .cta-primary.secondary {
        margin: 35px 0px; } }
    @media (max-width: 767px) {
      .cta-primary.secondary {
        margin: 35px 0px; } }

@media (min-width: 768px) and (max-width: 990px) {
  .disp-mob {
    display: none; } }
@media (min-width: 991px) {
  .disp-mob {
    display: none; } }
@media (max-width: 767px) {
  .disp-mob {
    display: block; } }
.disp-mob img {
  width: 100%; }

@media (max-width: 767px) {
  .disp-desktop {
    display: none; } }

.get-more-cutomers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 30px 0;
  margin: 0 auto; }
  .get-more-cutomers .left-text {
    max-width: 50%; }
    @media (min-width: 768px) and (max-width: 990px) {
      .get-more-cutomers .left-text {
        max-width: unset; } }
    @media (max-width: 767px) {
      .get-more-cutomers .left-text {
        max-width: unset; } }
    @media (max-width: 560px) {
      .get-more-cutomers .left-text {
        padding: 0px; } }
  .get-more-cutomers .right-img img {
    width: 100%; }
    @media (max-width: 767px) {
      .get-more-cutomers .right-img img {
        width: 100%; } }
  @media (min-width: 768px) and (max-width: 990px) {
    .get-more-cutomers .right-img {
      text-align: center; } }
  @media (max-width: 767px) {
    .get-more-cutomers .right-img {
      text-align: right; } }
  @media (min-width: 768px) and (max-width: 990px) {
    .get-more-cutomers {
      display: block; } }
  @media (max-width: 767px) {
    .get-more-cutomers {
      display: block;
      padding: 20px 0px; } }
  @media (min-width: 768px) and (max-width: 990px) {
    .get-more-cutomers .cta-primary {
      margin: 35px 0px 0px; } }
  @media (max-width: 767px) {
    .get-more-cutomers .cta-primary {
      margin: 35px 0px 0px; } }

.h1-heading {
  font-family: 'Greycliff CF - Heavy';
  font-size: 64px;
  line-height: 64px;
  font-weight: 900;
  color: #00386C;
  line-height: 110%;
  z-index: 2;
  letter-spacing: -0.02em;
  margin-bottom: 20px; }
  @media (min-width: 768px) and (max-width: 990px) {
    .h1-heading {
      font-size: 68px; } }
  @media (max-width: 767px) {
    .h1-heading {
      font-size: 54px;
      line-height: 105%; } }

.light-blue {
  color: #0974E4; }

.underline-double {
  position: relative; }
  .underline-double::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 55px;
    background-image: url("/wp-content/themes/itzontarget/assets/images/underline1.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -17px;
    left: 0%;
    z-index: -1; }

.underline-double.opened-left {
  position: relative; }
  .underline-double.opened-left::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 55px;
    background-image: url("/wp-content/themes/itzontarget/assets/images/under-line-open-left.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -32px;
    left: 0%;
    z-index: 2; }

.regular-para {
  font-family: 'Greycliff CF';
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #526374;
  margin: 20px 0px; }

.has-arrow {
  position: relative; }
  .has-arrow::after {
    position: absolute;
    content: '';
    width: 121px;
    height: 165px;
    background-image: url("/wp-content/themes/itzontarget/assets/images/side-curved.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    @media (min-width: 1140px) {
      .has-arrow::after {
        top: -98px;
        right: -130px; } }
    @media (min-width: 991px) {
      .has-arrow::after {
        top: -98px;
        right: -130px; } }
    @media (min-width: 768px) and (max-width: 990px) {
      .has-arrow::after {
        height: 119px;
        top: -67px;
        right: -126px; } }
    @media (max-width: 767px) {
      .has-arrow::after {
        background: url("/wp-content/themes/itzontarget/assets/images/arrow-mob-left-svg.svg");
        width: 58px;
        height: 61px;
        top: -31px;
        right: -78px;
        overflow: hidden;
        background-size: 100% 100%;
        background-repeat: no-repeat; } }

.cta-sec {
  margin: 60px 0px 20px 0px; }

.our-clients-section {
  background-color: #EFF8FC; }
  .our-clients-section .noble-customers {
    margin: 0 auto;
    width: 90%;
    padding: 30px 0; }
    .our-clients-section .noble-customers ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0px;
      margin: 40px auto 20px auto;
      justify-content: left;
      align-items: center; }
      @media (min-width: 768px) and (max-width: 990px) {
        .our-clients-section .noble-customers ul {
          width: 100%;
          margin: 20px auto; } }
      @media (max-width: 767px) {
        .our-clients-section .noble-customers ul {
          margin: 20px auto; } }
      @media (max-width: 560px) {
        .our-clients-section .noble-customers ul {
          width: 100%; } }
      .our-clients-section .noble-customers ul li {
        width: 23%;
        margin: 1%;
        text-align: center; }
        @media (min-width: 991px) {
          .our-clients-section .noble-customers ul li img {
            width: 172px; } }
        @media (max-width: 767px) {
          .our-clients-section .noble-customers ul li img {
            width: 126px; } }
        @media (max-width: 560px) {
          .our-clients-section .noble-customers ul li img {
            width: 108px; } }
        @media (min-width: 768px) and (max-width: 990px) {
          .our-clients-section .noble-customers ul li {
            width: 46%;
            margin: 2%; } }
        @media (max-width: 767px) {
          .our-clients-section .noble-customers ul li {
            width: 48%;
            margin: 6% 0%; } }
    @media (min-width: 768px) and (max-width: 990px) {
      .our-clients-section .noble-customers {
        padding: 50px 0; } }
    @media (max-width: 767px) {
      .our-clients-section .noble-customers {
        padding: 30px 0; } }

.h3-heading {
  font-family: 'Greycliff CF - bold';
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #0974E4;
  line-height: 35px;
  letter-spacing: -1%; }
  @media (max-width: 767px) {
    .h3-heading {
      font-size: 24px;
      line-height: 27.6px; } }

.h2-heading {
  font-family: 'Greycliff CF - Heavy';
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;
  color: #00386C;
  line-height: 50.6px;
  letter-spacing: -2%; }
  @media (max-width: 767px) {
    .h2-heading {
      font-size: 32px;
      line-height: 37px; } }
  @media (max-width: 767px) {
    .h2-heading {
      font-size: 34px;
      line-height: 37px; } }

.circled-outline {
  position: relative;
  background-image: url("/wp-content/themes/itzontarget/assets/images/circle-open-top.svg");
  background-size: 106% 93%;
  display: inline-block;
  padding: 8px 7px;
  background-repeat: no-repeat; }

.detail-section .simple-section {
  margin: 0 auto;
  width: 90%;
  padding: 30px 0;
  position: relative; }
  @media (max-width: 767px) {
    .detail-section .simple-section .regular-para {
      width: 100%;
      margin-top: 20px; } }
  .detail-section .simple-section .cta-sec {
    margin: 35px 0px; }
  @media (min-width: 768px) and (max-width: 990px) {
    .detail-section .simple-section.with-arrow-text {
      padding-bottom: 100px; } }
  @media (max-width: 767px) {
    .detail-section .simple-section {
      padding: 30px 0; } }

.heading-cursive {
  font-family: 'Verveine';
  font-size: 26px;
  line-height: 26px;
  color: #0974E4;
  font-weight: 400; }

.specialization .three-grids {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0 auto;
  width: 90%;
  padding: 30px 0; }
  .specialization .three-grids li {
    width: 29%;
    margin: 2% 0%;
    padding: 10px 20px;
    text-align: center;
    position: relative; }
    @media (min-width: 991px) {
      .specialization .three-grids li:nth-child(3n)::after {
        display: none; } }
    @media (min-width: 768px) and (max-width: 990px) {
      .specialization .three-grids li:nth-child(even)::after {
        display: none; } }
    .specialization .three-grids li .heading-cursive {
      margin: 5px 0px; }
    .specialization .three-grids li::after {
      position: absolute;
      content: '';
      height: 90%;
      width: 2px;
      top: 50%;
      transform: translateY(-50%);
      right: 0%;
      background: url("/wp-content/themes/itzontarget/assets/images/border-right.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%; }
      @media (max-width: 767px) {
        .specialization .three-grids li::after {
          display: none !important; } }
    @media (min-width: 768px) and (max-width: 990px) {
      .specialization .three-grids li {
        width: 44%; }
        .specialization .three-grids li:nth-child(even) {
          position: unset; }
        .specialization .three-grids li:nth-child(odd) {
          position: relative; } }
    @media (max-width: 767px) {
      .specialization .three-grids li {
        width: 96%;
        position: unset; } }
  @media (max-width: 767px) {
    .specialization .three-grids {
      padding: 30px 0; } }

.heading-h4 {
  font-family: 'Greycliff CF - Heavy';
  font-size: 22px;
  line-height: 22px;
  font-weight: 900;
  color: #00386C;
  line-height: 26.2px;
  letter-spacing: -1%;
  margin: 17px 0px; }

.general-component {
  position: relative; }
  .general-component .blue-box-cta {
    margin: 0 auto;
    width: 90%;
    padding: 60px 0;
    position: relative;
    text-align: center;
    background-color: #00386C;
    border-radius: 15px;
    position: relative;
    z-index: 5; }
    .general-component .blue-box-cta h2,
    .general-component .blue-box-cta h5 {
      margin: 20px; }
    @media (max-width: 767px) {
      .general-component .blue-box-cta {
        padding: 40px 10px;
        z-index: 3; } }
  .general-component::after {
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    bottom: -60px;
    right: 0px;
    background-image: url("/wp-content/themes/itzontarget/assets/images/dotted-box-grid.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .general-component::after {
        width: 130px;
        height: 130px;
        right: 0px;
        z-index: 6; } }
  @media (min-width: 768px) and (max-width: 990px) {
    .general-component {
      padding: 30px 0; }
      .general-component .blue-box-cta {
        width: unset; } }
  @media (max-width: 767px) {
    .general-component {
      padding: 30px 0; } }

.testimonial-section {
  background-color: #EFF8FC; }
  .testimonial-section .customer-slider-section {
    position: relative;
    margin: 0 auto;
    width: 90%;
    padding: 30px 0; }
    .testimonial-section .customer-slider-section .slick-dots {
      position: unset;
      padding: 10px 0px; }
      .testimonial-section .customer-slider-section .slick-dots li {
        margin: 20px 0px; }
        .testimonial-section .customer-slider-section .slick-dots li button::before {
          content: "";
          height: 10px;
          width: 10px;
          border-radius: 50%;
          border: 1px solid #0974E4; }
        .testimonial-section .customer-slider-section .slick-dots li.slick-active button::before {
          background: #0974E4; }
    @media (max-width: 767px) {
      .testimonial-section .customer-slider-section {
        padding: 30px 0;
        width: unset; } }
  .testimonial-section .customer-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex !important;
    width: 70%;
    margin: 0 auto;
    padding: 15px 20px; }
    @media (min-width: 768px) and (max-width: 990px) {
      .testimonial-section .customer-slide {
        display: block !important; } }
    @media (max-width: 767px) {
      .testimonial-section .customer-slide {
        display: block !important;
        width: 90%; } }
  .testimonial-section .client-image {
    margin: 10px;
    width: 194px;
    height: 194px;
    box-shadow: 0px 1px 10px rgba(82, 99, 116, 0.15);
    border-radius: 200px;
    background-image: url("/wp-content/themes/itzontarget/assets/images/client1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }
    .testimonial-section .client-image::after {
      position: absolute;
      content: '';
      width: 62px;
      height: 62px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      top: 8%;
      right: -11%;
      background-image: url("/wp-content/themes/itzontarget/assets/images/quotes.svg"); }
    @media (min-width: 768px) and (max-width: 990px) {
      .testimonial-section .client-image {
        margin: 10px auto; } }
    @media (max-width: 767px) {
      .testimonial-section .client-image {
        margin: 10px auto; } }
  .testimonial-section .client-texts {
    width: 74%; }
    .testimonial-section .client-texts .h3-heading {
      color: #00386C;
      line-height: 120%;
      font-size: 32px;
      letter-spacing: -0.01em;
      margin: 10px 0px; }
      @media (max-width: 767px) {
        .testimonial-section .client-texts .h3-heading {
          font-size: 24px;
          line-height: 27px; } }
    @media (min-width: 768px) and (max-width: 990px) {
      .testimonial-section .client-texts {
        width: 100%;
        text-align: center; } }
    @media (max-width: 767px) {
      .testimonial-section .client-texts {
        font-size: 24px;
        line-height: 27px;
        width: 100%;
        text-align: center; } }
  .testimonial-section .customer-slider.slick-initialized.slick-slider {
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 990px) {
      .testimonial-section .customer-slider.slick-initialized.slick-slider {
        width: 100%; } }
    @media (max-width: 767px) {
      .testimonial-section .customer-slider.slick-initialized.slick-slider {
        width: unset; } }

.arrow-with-text {
  position: absolute;
  height: 100px;
  text-align: center;
  bottom: 0;
  right: 68px; }
  @media (max-width: 767px) {
    .arrow-with-text {
      display: none; } }
  .arrow-with-text span {
    font-family: 'Verveine';
    color: #0974E4;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    transform: rotate(-11deg);
    width: 100%;
    display: block; }
    @media (min-width: 768px) and (max-width: 990px) {
      .arrow-with-text span {
        right: 86px; } }
    @media (max-width: 767px) {
      .arrow-with-text span {
        display: none; } }
  .arrow-with-text::before {
    position: absolute;
    content: '';
    background: url("/wp-content/themes/itzontarget/assets/images/arrow-mob-left-svg.svg");
    width: 49px;
    height: 89px;
    /* top: -74px; */
    bottom: -8px;
    transform: rotateX(172deg) rotateY(35deg) rotateZ(315deg);
    /* right: 283px; */
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat; }

/*css for case study page starts here */
/* variables for colors */
@media (min-width: 768px) and (max-width: 990px) {
  .banner {
    margin-bottom: 27px; } }
@media (min-width: 768px) and (max-width: 990px) {
  .banner.case-study {
    margin-bottom: 60px; } }
@media (max-width: 767px) {
  .banner.case-study {
    margin-bottom: 30px; } }

.pages-top-section {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media (min-width: 768px) and (max-width: 990px) {
    .pages-top-section {
      display: block;
      padding: unset; } }
  @media (max-width: 767px) {
    .pages-top-section {
      display: block;
      padding: unset; } }

.page-top-left {
  width: 50%; }
  @media (min-width: 768px) and (max-width: 990px) {
    .page-top-left {
      width: unset;
      margin-bottom: 63px; } }
  @media (max-width: 767px) {
    .page-top-left {
      width: unset;
      margin-bottom: 63px; } }
  .page-top-left .cta-sec {
    margin-top: 42px; }
    @media (max-width: 767px) {
      .page-top-left .cta-sec .cta-primary {
        margin: 35px 0px 0px; } }
    @media (min-width: 768px) and (max-width: 990px) {
      .page-top-left .cta-sec .cta-primary {
        margin: 35px 0px 0px; } }

.page-top-right {
  max-width: 40%; }
  @media (min-width: 768px) and (max-width: 990px) {
    .page-top-right {
      text-align: center;
      max-width: unset; } }
  @media (max-width: 767px) {
    .page-top-right {
      text-align: center;
      max-width: unset; } }

.h1-internal {
  font-family: 'Greycliff CF - Heavy';
  font-size: 54px;
  line-height: 54px;
  font-weight: 800;
  color: #00386C;
  line-height: 59px; }
  @media (max-width: 767px) {
    .h1-internal {
      font-size: 44px;
      line-height: 105%; } }

.img-circle-btm {
  position: relative;
  z-index: 5; }
  .img-circle-btm img {
    border-radius: 15px;
    box-shadow: 0px 1px 30px 0px #52637433;
    overflow: hidden;
    width: 100%;
    height: auto; }
  .img-circle-btm::before {
    position: absolute;
    content: '';
    content: '';
    z-index: -1;
    width: 150px;
    height: 150px;
    background-image: url("/wp-content/themes/itzontarget/assets/images/dotted-circle.svg");
    background-repeat: no-repeat;
    bottom: -50px;
    left: -50px; }
    @media (min-width: 768px) and (max-width: 990px) {
      .img-circle-btm::before {
        display: none; } }
    @media (max-width: 767px) {
      .img-circle-btm::before {
        display: none; } }
  .img-circle-btm::after {
    position: absolute;
    content: '';
    content: '';
    z-index: -1;
    width: 150px;
    height: 150px;
    background-image: url("/wp-content/themes/itzontarget/assets/images/dotted-circle.svg");
    background-repeat: no-repeat;
    bottom: -35px;
    right: -35px; }
    @media (max-width: 767px) {
      .img-circle-btm::after {
        right: -15px;
        bottom: -40px; } }
    @media (min-width: 991px) {
      .img-circle-btm::after {
        display: none; } }
    @media (max-width: 560px) {
      .img-circle-btm::after {
        bottom: -40px;
        right: -15px; } }
  @media (min-width: 768px) and (max-width: 990px) {
    .img-circle-btm {
      display: inline-block; } }
  @media (max-width: 767px) {
    .img-circle-btm {
      display: inline-block; } }

.simple-box-image {
  margin: 20px auto;
  width: 90%; }
  @media (max-width: 767px) {
    .simple-box-image {
      margin: 50px auto 0; } }
  .simple-box-image img {
    border-radius: 15px;
    width: 100%;
    height: auto; }

.only-headings {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0 0; }
  @media (min-width: 768px) and (max-width: 990px) {
    .only-headings {
      text-align: center; } }
  @media (max-width: 767px) {
    .only-headings {
      text-align: center; } }
  @media (min-width: 768px) and (max-width: 990px) {
    .only-headings br {
      display: none; } }
  @media (max-width: 767px) {
    .only-headings br {
      display: none; } }
  .only-headings.generic-resource {
    padding: 60px 0px 40px; }

.case-study-details {
  padding: 30px 0;
  width: 85%;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 990px) {
    .case-study-details {
      width: 90%; } }
  @media (max-width: 767px) {
    .case-study-details {
      width: 90%; } }

.case-study-section {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }
  .case-study-section .case-study-left {
    width: 40%; }
    .case-study-section .case-study-left .h3-heading {
      color: #00386C;
      font-weight: bolder; }
    @media (max-width: 767px) {
      .case-study-section .case-study-left {
        width: 100%; } }
  .case-study-section .case-study-right {
    width: 60%; }
    .case-study-section .case-study-right ul {
      list-style: none;
      display: block;
      margin: 0 auto;
      padding: 0px; }
      .case-study-section .case-study-right ul li {
        margin: 1% 0%; }
      .case-study-section .case-study-right ul.with-dots li {
        margin: 1% 0% 1% 5%;
        position: relative; }
        .case-study-section .case-study-right ul.with-dots li::before {
          position: absolute;
          content: '';
          width: 6px;
          height: 6px;
          background-color: #0974E4;
          top: 9px;
          left: -27px;
          border-radius: 50px; }
    @media (max-width: 767px) {
      .case-study-section .case-study-right {
        width: 100%; } }
  @media (max-width: 767px) {
    .case-study-section {
      display: block; } }

.simple-blue-bg {
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
  background-color: #EFF8FC;
  border-radius: 17px; }
  @media (min-width: 768px) and (max-width: 990px) {
    .simple-blue-bg {
      padding: 30px 0px; } }
  @media (max-width: 767px) {
    .simple-blue-bg {
      padding: 30px 0px; } }

.res-counters {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 42px 0px 20px; }
  .res-counters li {
    text-align: center;
    width: 23%; }
    .res-counters li .h2-heading {
      letter-spacing: -0.02em;
      background: linear-gradient(92.84deg, rgba(0, 56, 108, 0.3) 14.69%, rgba(9, 116, 228, 0.3) 50.57%, rgba(176, 211, 248, 0.3) 81.51%), #0974E4;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text; }
    @media (min-width: 768px) and (max-width: 990px) {
      .res-counters li {
        width: 50%; } }
    @media (max-width: 767px) {
      .res-counters li {
        width: 100%;
        margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .res-counters {
      padding: 0px; } }

.redirection-section {
  background: #EFF8FC;
  margin-top: 100px; }
  .redirection-section .redirection {
    width: 90%;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 768px) and (max-width: 990px) {
      .redirection-section .redirection {
        padding: 43px 0px; } }
    @media (max-width: 767px) {
      .redirection-section .redirection {
        margin-top: 50px;
        padding: 30px 0px; } }
  @media (max-width: 767px) {
    .redirection-section.case-study-inner {
      margin-top: 0px; } }

.redirect-btn {
  text-align: center;
  background: #fff;
  padding: 20px 0;
  border-radius: 50px;
  text-decoration: none;
  width: fit-content;
  font-family: 'Greycliff CF - bold';
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #0974E4; }
  @media (max-width: 767px) {
    .redirect-btn {
      height: 45px;
      padding: 0px; } }
  .redirect-btn ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;
    align-items: center; }
    .redirect-btn ul li {
      margin: 0px 20px; }
      .redirect-btn ul li a {
        font-family: 'Greycliff CF - bold';
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        color: #00386C;
        text-decoration: none;
        transition: transform 0.5s ease-in-out; }
        .redirect-btn ul li a.active, .redirect-btn ul li a:hover {
          color: #0974E4; }
        .redirect-btn ul li a:hover {
          transform: scale(1.1);
          color: #0974E4; }
        .redirect-btn ul li a.nav-arrw {
          margin: 0px 13px;
          border: 1px solid;
          border-radius: 50px;
          padding: 4px; }
        .redirect-btn ul li a img {
          display: block; }
        .redirect-btn ul li a.next-btn img {
          transform: rotate(180deg); }
        .redirect-btn ul li a img.next-btn {
          transform: rotate(180deg); }
      @media (max-width: 767px) {
        .redirect-btn ul li {
          margin: unset;
          padding: 0 8px; } }
      .redirect-btn ul li.active a {
        font-size: 30px; }
      .redirect-btn ul li:first-child.active {
        padding-left: 15px; }
      .redirect-btn ul li:last-child.active {
        padding-right: 15px; }

.btn-prev {
  display: flex;
  align-items: center;
  justify-content: center; }
  .btn-prev img {
    width: 20px;
    height: 20px;
    margin-right: 10px; }
    @media (max-width: 767px) {
      .btn-prev img {
        width: 35px;
        height: 28px;
        margin-right: 0px;
        margin-top: 8px; } }
  .btn-prev.next {
    flex-direction: row-reverse; }
    .btn-prev.next img {
      margin-left: 10px;
      margin-right: 0px;
      transform: rotate(180deg); }
      @media (max-width: 767px) {
        .btn-prev.next img {
          margin-left: 0px; } }
  @media (max-width: 767px) {
    .btn-prev .btn-texts {
      display: none; } }
  @media (max-width: 767px) {
    .btn-prev {
      display: block; } }

/* css for case study page ends here */
/*css for case-study inner page starts here*/
.navy {
  color: #00386C !important; }

.two-columns-wrapper {
  padding: 0px 50px; }
  @media (min-width: 768px) and (max-width: 990px) {
    .two-columns-wrapper {
      padding: 0px 20px; } }
  @media (max-width: 767px) {
    .two-columns-wrapper {
      padding: 0px 20px; } }

.two-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 60px; }
  .two-columns .left-columns .img-sec {
    width: 90%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto; }
    .two-columns .left-columns .img-sec img {
      width: 100%; }
  @media (min-width: 768px) and (max-width: 990px) {
    .two-columns .left-columns {
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .two-columns .left-columns {
      margin: 0 auto; } }
  .two-columns .right-columns {
    width: 50%; }
    @media (min-width: 768px) and (max-width: 990px) {
      .two-columns .right-columns {
        width: 100%;
        margin-top: 30px; } }
    @media (max-width: 767px) {
      .two-columns .right-columns {
        width: 100%;
        margin-top: 30px; } }
  @media (min-width: 768px) and (max-width: 990px) {
    .two-columns {
      padding: 40px 0px; } }
  @media (max-width: 767px) {
    .two-columns {
      padding: 40px 0px; } }
  @media (max-width: 560px) {
    .two-columns {
      padding: 20px 0px; } }

.section-video-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0px; }
  .section-video-wrapper .video-container {
    width: 100%;
    position: relative; }
    .section-video-wrapper .video-container video,
    .section-video-wrapper .video-container iframe {
      position: relative;
      width: 100%;
      border: 0px;
      overflow: hidden;
      border-radius: 30px;
      box-shadow: 0px 1px 30px 0px #52637433; }
    .section-video-wrapper .video-container .video-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 0px;
      background: none; }
      @media (max-width: 767px) {
        .section-video-wrapper .video-container .video-btn img {
          width: 40%;
          height: 40%; } }
      .section-video-wrapper .video-container .video-btn:hover {
        cursor: pointer; }
  @media (max-width: 767px) {
    .section-video-wrapper {
      width: 95%;
      padding: 0px; } }

/*css for case-study inner page ends here*/
/* css for resource main page starts here */
.page-top-right.muli-image {
  display: block;
  padding: 0px 60px; }
  @media (max-width: 767px) {
    .page-top-right.muli-image {
      padding: 0px; } }
.page-top-right img {
  width: 100%; }

.squr-crcl-rtlft {
  position: relative;
  display: inline-block;
  z-index: 4; }
  .squr-crcl-rtlft .rect-img {
    overflow: hidden;
    width: 280px;
    height: 343px;
    border-radius: 15px;
    box-shadow: 0px 1px 30px 0px #52637433; }
    .squr-crcl-rtlft .rect-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center; }
  .squr-crcl-rtlft .rect-img-out {
    position: relative;
    display: flex; }
    .squr-crcl-rtlft .rect-img-out::after {
      position: absolute;
      content: '';
      width: 150px;
      height: 150px;
      background-image: url("/wp-content/themes/itzontarget/assets/images/right-circle.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      top: 103px;
      right: -64px;
      z-index: -4; }
      @media (max-width: 560px) {
        .squr-crcl-rtlft .rect-img-out::after {
          width: 119px;
          height: 119px;
          top: -55px;
          right: -7px;
          z-index: -4; } }
    .squr-crcl-rtlft .rect-img-out::before {
      position: absolute;
      content: '';
      width: 150px;
      height: 150px;
      background-image: url("/wp-content/themes/itzontarget/assets/images/dotted-box-grid.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      top: 140px;
      left: -38px;
      z-index: -4; }
  .squr-crcl-rtlft .circle-img {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 1px 30px 0px #52637433;
    z-index: 999;
    margin-right: -43px;
    margin-top: 54px; }
    .squr-crcl-rtlft .circle-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center; }
  @media (max-width: 560px) {
    .squr-crcl-rtlft {
      display: unset; } }

.cards-wrapper-outer {
  background-color: #EFF8FC;
  padding: 30px 0px;
  margin-top: 150px; }
  @media (min-width: 768px) and (max-width: 990px) {
    .cards-wrapper-outer {
      margin-top: 100px; } }
  @media (max-width: 767px) {
    .cards-wrapper-outer {
      margin-top: 100px; } }

.cards-wrapper-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  width: 90%;
  margin: -147px auto 40px auto; }
  @media (min-width: 768px) and (max-width: 990px) {
    .cards-wrapper-inner {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 767px) {
    .cards-wrapper-inner {
      grid-template-columns: repeat(1, 1fr);
      margin: -95px auto 0px auto;
      width: 90%; } }

.grid-card {
  position: relative; }
  .grid-card .image-cardbg {
    height: 382px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border-radius: 15px;
    position: relative; }
    .grid-card .image-cardbg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease; }
    .grid-card .image-cardbg .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(82, 99, 116, 0) 26.69%, #526374 69.25%);
      mix-blend-mode: multiply;
      transition: opacity 0.5s ease, background 0.5s ease; }
    .grid-card .image-cardbg .overlay-text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px; }
      .grid-card .image-cardbg .overlay-text .card-top {
        background-color: #fff;
        width: fit-content;
        border-radius: 50px;
        font-family: 'Greycliff CF';
        font-size: 14px;
        line-height: 14px;
        font-weight: bolder;
        color: #0974E4;
        padding: 6px 10px 3px;
        line-height: 16px; }
      .grid-card .image-cardbg .overlay-text .card-desc {
        font-family: 'Greycliff CF - bold';
        font-size: 32px;
        line-height: 32px;
        font-weight: bold;
        color: #fff;
        line-height: 38px; }
      @media (min-width: 768px) and (max-width: 990px) {
        .grid-card .image-cardbg .overlay-text {
          padding: 30px; } }
      @media (max-width: 767px) {
        .grid-card .image-cardbg .overlay-text {
          padding: 25px; } }
    .grid-card .image-cardbg:hover {
      cursor: pointer; }
      .grid-card .image-cardbg:hover img {
        transform: scale(1.1); }

.case-study-navigate {
  padding: 25px 0px;
  text-align: center; }
  .case-study-navigate .redirect-btn {
    padding: 25px 0px;
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    width: fit-content; }
    @media (min-width: 768px) and (max-width: 990px) {
      .case-study-navigate .redirect-btn {
        height: auto;
        padding: 12px; } }
    @media (max-width: 767px) {
      .case-study-navigate .redirect-btn {
        height: auto;
        padding: 12px; } }

/*css for about us starts here*/
.h4-heading {
  font-family: 'Greycliff CF - Heavy';
  font-size: 28px;
  line-height: 28px;
  font-weight: bolder;
  color: #00386C;
  line-height: 31px; }
  @media (min-width: 768px) and (max-width: 990px) {
    .h4-heading {
      font-size: 26px;
      line-height: 28px; } }
  @media (max-width: 767px) {
    .h4-heading {
      font-size: 22px;
      line-height: 24px; } }

.general-component.about-us {
  padding: 30px 0px; }
  .general-component.about-us .blue-box-cta {
    position: relative; }
    .general-component.about-us .blue-box-cta::after {
      position: absolute;
      content: '';
      background-image: url("/wp-content/themes/itzontarget/assets/images/tilted-arrow.png");
      width: 113px;
      height: 111px;
      bottom: 0px;
      right: 382px; }
      @media (min-width: 768px) and (max-width: 990px) {
        .general-component.about-us .blue-box-cta::after {
          right: 670px; } }
      @media (max-width: 767px) {
        .general-component.about-us .blue-box-cta::after {
          display: none; } }

@media (min-width: 991px) {
  .row-revert {
    flex-direction: row-reverse; } }

.perks-of-working {
  padding: 50px 0px;
  border-top: 2px solid #5263744D;
  margin: 0 auto;
  width: 90%;
  margin-top: 30px; }
  .perks-of-working .two-columns-wrapper {
    padding: 0px; }
    @media (min-width: 768px) and (max-width: 990px) {
      .perks-of-working .two-columns-wrapper {
        padding: 0px; } }
    @media (max-width: 767px) {
      .perks-of-working .two-columns-wrapper {
        padding: 0px; } }
  .perks-of-working .two-columns {
    padding: 0px; }
    .perks-of-working .two-columns .left-columns {
      width: 35%; }
      @media (min-width: 768px) and (max-width: 990px) {
        .perks-of-working .two-columns .left-columns {
          width: 100%;
          text-align: center; } }
      @media (max-width: 767px) {
        .perks-of-working .two-columns .left-columns {
          width: 100%;
          text-align: center; } }
  .perks-of-working .perks-ul {
    padding: 30px;
    background-color: #EFF8FC;
    border-radius: 17px; }
    .perks-of-working .perks-ul .regular-para {
      font-size: 17px;
      line-height: 27px;
      position: relative;
      margin-left: 10px;
      color: #003683;
      font-weight: bold; }
      .perks-of-working .perks-ul .regular-para::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        content: '';
        top: 0px;
        left: 0px;
        background-image: url(/wp-content/themes/itzontarget/assets/images/check.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 4px;
        left: -24px; }

.two-col-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media (min-width: 768px) and (max-width: 990px) {
    .two-col-cta {
      display: block; } }
  @media (max-width: 767px) {
    .two-col-cta {
      display: block; } }
  .two-col-cta .cta-text {
    font-family: 'Greycliff CF - bold';
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    line-height: 50.6px;
    letter-spacing: -0.02em;
    width: 50%; }
    @media (min-width: 768px) and (max-width: 990px) {
      .two-col-cta .cta-text {
        width: 100%;
        text-align: center; } }
    @media (max-width: 767px) {
      .two-col-cta .cta-text {
        width: 100%;
        text-align: center;
        font-size: 24px;
        line-height: 30px; } }
  .two-col-cta .box-cta-btn {
    width: 30%;
    position: relative; }
    @media (min-width: 768px) and (max-width: 990px) {
      .two-col-cta .box-cta-btn {
        width: 100%;
        text-align: center; } }
    @media (max-width: 767px) {
      .two-col-cta .box-cta-btn {
        width: 100%;
        text-align: center; } }
    @media (max-width: 767px) {
      .two-col-cta .box-cta-btn .cta-primary {
        margin-bottom: 0px; } }

.customer-testimonials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 40px;
  padding: 30px 0px; }
  @media (min-width: 768px) and (max-width: 990px) {
    .customer-testimonials-grid {
      grid-template-columns: repeat(1, 1fr); } }
  @media (max-width: 767px) {
    .customer-testimonials-grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px; } }

.customer-testimonial {
  justify-content: space-between;
  align-items: center;
  display: flex; }
  .customer-testimonial .customer-image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 30px 0px #52637433; }
    .customer-testimonial .customer-image img {
      width: 100%;
      height: 100%;
      object-position: center; }
    @media (max-width: 767px) {
      .customer-testimonial .customer-image {
        height: 150px;
        width: 150px;
        margin: 0 auto; } }
  .customer-testimonial .testimonial-text {
    width: 65%; }
    @media (min-width: 768px) and (max-width: 990px) {
      .customer-testimonial .testimonial-text {
        width: 70%; } }
    @media (max-width: 767px) {
      .customer-testimonial .testimonial-text {
        width: 100%;
        text-align: center; } }
  @media (max-width: 767px) {
    .customer-testimonial {
      display: block; } }

.faqs {
  padding: 40px 0px;
  width: 90%;
  margin: 0 auto; }

.faq-list {
  list-style: none;
  padding: 0px;
  margin: 100px 0px 20px; }
  .faq-list li {
    background-color: #EFF8FC;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0px; }
    .faq-list li.show {
      background-color: #fff;
      box-shadow: 0px 1px 30px 0px #52637433; }
      .faq-list li.show .question:after {
        opacity: 0; }
    .faq-list li .question {
      padding: 24px 90px 24px 36px;
      display: block;
      cursor: pointer;
      position: relative; }
      .faq-list li .question:before {
        content: '';
        width: 18px;
        height: 3px;
        background: #223a9b;
        background: linear-gradient(90deg, #223a9b 0%, #9c107d 100%);
        position: absolute;
        right: 36px;
        top: 34px; }
      .faq-list li .question:after {
        content: '';
        width: 3px;
        height: 18px;
        background: #223a9b;
        background: linear-gradient(90deg, #223a9b 0%, #9c107d 100%);
        position: absolute;
        right: 43px;
        top: 27px; }
      @media (max-width: 767px) {
        .faq-list li .question {
          padding: 0px; } }
    .faq-list li .answer {
      padding: 0 90px 24px 36px; }
      .faq-list li .answer p {
        line-height: 1.4; }
      @media (max-width: 767px) {
        .faq-list li .answer {
          padding: 0px; } }
    .faq-list li:last-child {
      border: none; }

/*css for about us ends here*/

/*# sourceMappingURL=style.css.map */
